<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>Телефонная книга {% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container">
<!--        <a class="navbar-brand" href="#">Fixed navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>-->
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              {% block example1url %}<a class="nav-link" href="/gs">Example1</a>{% endblock %}
            </li>
            <li class="nav-item">
              {% block example2url %}<a class="nav-link" href="/aup">Example2</a>{% endblock %}
            </li>
            <li class="nav-item">
              {% block example3url %}<a class="nav-link" href="/npf">Example3</a>{% endblock %}
            </li>
            <li class="nav-item" style="margin-left:50px;">
              {% block ufurl %}<a class="nav-link" href="/useful">Полезное</a>{% endblock %}
            </li>
          </ul>
          {% block search %}
          <form class="d-flex" method="GET">
            <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search" name="q" value="{{ request.args.get('q', '') }}">
            <button class="btn btn-outline-success" type="submit">Поиск</button>
          </form>
          {% endblock %}
        </div>
      </div>
    </nav>
    <main class="container">
    {% block tables %}
    <div class="container mt-5">
      <div class="container px-4">
        <div class="row gx-5">
          <div class="col">
            <div class="p-3 border bg-light">
              {% block table1 %}{% endblock %}
            </div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light">
              {% block table2 %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
    </main>
    <div class="container">
      <footer class="py-3 my-4">
        <p class="text-center text-muted">© 2021 Development departament</p>
      </footer>
    </div>
</body>
</html>
