
{% extends 'base.html' %}

{% block title %}Полезное{% endblock %}

{% block ufurl %}<a class="nav-link active" href="/gs">Полезное</a>{% endblock %}

{% block tables %}
<div class="container mt-5">
  <div class="container px-4">
    <br /><br />
    <ul class="list-unstyled">
      <li><h3><b>Внешние вызовы</b></h3>
        <ul>
          <li><h5>Городские номера<em>(7-ми значные, Уфа)</em></h5></li>
          <p>Без дополнительных номеров или символов</p>
          <p><em>например: 1234567 - вызов единого городского номера техподдержки</em></p>
          <li><h5>Городские номера<em>(5-ти значные, Когалым)</em></h5></li>
          <p>Без дополнительных номеров или символов</p>
          <p><em>например: 12345 - вызов городского номера 12345</em></p>
          <li><h5>Сотовые, городские и междугородние номера<em>(11-ти значные)</em></h5></li>
          <dl class="row">
            <dt class="col-sm-3">8[код оператора][номер]</dt>
            <dd class="col-sm-9"><em>например: 89871234567 - вызов сотового номера с кодом оператора МТС(987) и номером 1234567</em></dd>
            <dt class="col-sm-3">8[код города][номер]</dt>
            <dd class="col-sm-9"><em>например: 83471234567 - вызов городского номера с кодом города Уфа(347) и номером 1234567</em></dd>
          </dl>
          <li><h5>Международные номера<em>(Только для имеющих доступ)</em></h5></li>
          <dl class="row">
            <dt class="col-sm-5">810[код страны][код города/оператора][номер]</dt>
            <dd class="col-sm-7"><em>например: 810375225123456 - вызов международного номера в Беларусь(375) с кодом города Бобруйск(225) и номером 123456</em></dd>
          </dl>
        </ul>
      </li>
    </ul>
    <ul class="list-unstyled">
      <li><h3><b>Переадресация</b></h3>
        <ul>
          <li><h5>Условная передаресация</h5></li>
          <p>Условный, или контролируемый (attended), перевод осуществляется следующим образом: прежде чем перевести звонок, сторона А сначала соединяется со стороной В, убеждается в том, что там готовы принять звонок, и лишь затем совершает перевод стороны Б на номер В. Таким образом, инициатор перевода полностью контролирует процесс передачи звонка до его завершения. Это полезно, когда инициатор перевода хочет заранее убедиться в том, что принимающая сторона готова принять звонок.</p>
          <dl class="row">
            <dt class="col-sm-3">*9[номер]</dt>
            <dd class="col-sm-9"><em>например: *91234 - перевод звонка на номер 1234</em></dd>
          </dl>
          <br />
          <li><h5>Безусловная передаресация</h5></li>
          <p>Безусловный перевод, его еще называют слепым (blind), означает, что инициатор перевода звонка (А) сразу переадресует абонента (Б) на телефон третьего лица (В). После того, как он нажал кнопку перевода, связь между ним и другими сторонами обрывается, а между переадресуемым абонентом и третьим лицом устанавливается отдельное соединение.</p>
          <dl class="row">
            <dt class="col-sm-3">*7[номер]</dt>
            <dd class="col-sm-9"><em>например: *71234 - перевод звонка на номер 1234</em></dd>
          </dl>
        </ul>
      </li>
    </ul>
    <h3><b>Перехват звонка</b><em>(Pickup call)</em></h3>
    <p>Эта функция позволяет перехватывать вызовы, которые приходят на другие телефоны, состоящие в одной группе перехвата. То есть вы можете перехватить звонок, направленный вашему коллеге, которого нет на рабочем месте и самостоятельно поговорить со звонившем, не потеряв при этом звонок, и не заставляя зря ждать на трубке.</p>
    <ul>
      <li><strong>Внимание: </strong><u>Реализовано только для тех кто состоит в группах перехвата вызовов!</u></li>
      <p><b>*8</b></p>
    </ul>
  </div>
</div>
{% endblock %}

{% block search %}{% endblock %}
